@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@font-face {
  font-family: "Poppins";
  src: url("../../public/font/Poppins-Regular.ttf");
  font-weight: normal;
}

.font-pop {
  font-family: "Poppins";
}

.react-international-phone-country-selector button{
  height: 100% !important;
  border: none !important;
  background: transparent !important;


}

.react-international-phone-input{
  background-color: transparent !important;
  border: none !important;
  width: 100% !important;
  /* color: white !important; */
  height: 48px !important;
}



.react-international-phone-country-selector-dropdown li:hover{
    color: black !important;
}

.react-international-phone-country-selector-dropdown{
gap: 10px !important;
}


.react-international-phone-input-container{
    padding-right:0 !important ;
}


.react-international-phone-country-selector-dropdown::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.react-international-phone-country-selector-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.react-international-phone-country-selector-dropdown::-webkit-scrollbar-thumb {
  background: #888; 
}

.contact-btn:disabled{
    cursor: not-allowed;
}
/* 
.react-international-phone-country-selector-dropdown{
    opacity: 1 !important;
    visibility: visible !important;   
    background-color: rgba(255, 255, 255, 0.1) !important;
    -webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
    box-shadow: 0px 1px 3px rgba(3, 4, 28, 0.12) !important;
    color: #ffffff !important;
    max-height: 150px !important;

} */

.react-international-phone-country-selector-dropdown li:hover{
    color: black !important;
}

.react-international-phone-country-selector-dropdown{
gap: 10px !important;
}


  .react-international-phone-country-selector-dropdown{
    max-height: 120px !important;
  }


@media screen and (min-width:1440px) {
  .react-international-phone-country-selector-dropdown{
    max-height: 200px !important;
  }
}